@{
    ViewData["Title"] = "Gracias por confirmar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>¡Gracias por confirmar tu asistencia!</h2>
<p>El evento se realizará en: @ViewBag.Direccion</p>
<p>¡Esperamos verte allí!</p>